@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<form method="post" asp-page="Index">
    <button type="submit" class="btn btn-cta">View Inventory</button>
</form>